<mat-toolbar color="primary" class="topbar">
  <mat-toolbar-row>
    <span>ELog</span>
    <span class="spacer"></span>
    <button *ngIf="!isLogin(); else login" mat-button (click)="onSignInClick()">
      Sign In
    </button>
    <ng-template #login>
      <span *ngIf="isLogin()">Hi {{ getUserInfo().name }}</span>
      <button mat-button (click)="createPost()">Create Post</button>
      <button mat-button (click)="onSignOutClick()">Sign Out</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
