<div class="root">
  <mat-card class="card">
    <mat-card-header class="middle">
      <mat-card-title>ELog</mat-card-title>
    </mat-card-header>
    <div class="middle">
      <mat-form-field>
        <input
          matInput
          placeholder="account"
          [value]="account"
          (input)="account = $event.target.value"
        />
      </mat-form-field>
    </div>
    <div class="middle">
      <mat-form-field>
        <input
          matInput
          placeholder="pasword"
          type="password"
          [value]="password"
          (input)="password = $event.target.value"
        />
      </mat-form-field>
    </div>
    <mat-card-actions class="middle">
      <button mat-button (click)="onLoginClick()">Sign In</button>
      <button mat-button (click)="onCancelClick()">Cancel</button>
    </mat-card-actions>
    <div class="middle">
      <span class="error-message">{{ errorMessage }}</span>
    </div>
  </mat-card>
</div>
