<div class="root">
  <mat-card class="card">
    <mat-card-header class="middle">
      <mat-card-title>ELog</mat-card-title>
    </mat-card-header>
    <div class="middle">
      <mat-form-field>
        <input matInput placeholder="account" />
      </mat-form-field>
    </div>
    <div class="middle">
      <mat-form-field>
        <input matInput placeholder="pasword" />
      </mat-form-field>
    </div>
    <mat-card-actions class="middle">
      <button mat-button (click)="goToDetailPage()">Sign In</button>
      <button mat-button (click)="goToDetailPage()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
